recursive-include src/webshooter/screen *.json *.js
recursive-include src/webshooter/screen/node_modules/ *
recursive-include src/webshooter/report *.html *.css *.js
recursive-exclude src/webshooter __pycache__
